Repository mehtab39/pnpm-mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @farmart/platform-frontend-team, @farmart/farmart-web-team, @farmart/saudabook-team

fix: handle eslint
  apps/farmart-web/package.json
  apps/saudabook-app/eslint.config.js
  apps/saudabook-app/package.json
  packages/eslint-configs/eslint.config.js
  pnpm-lock.yaml
Owners: @farmart/farmart-web-team, @farmart/saudabook-team, @farmart/platform-frontend-team

refactor: Remove eslint.config.js file
  packages/eslint-configs/eslint.config.js
Owners: @farmart/platform-frontend-team

refactor: Update npmrc and pnpm-workspace.yaml
  .npmrc
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: none

handle prettier
  lint.txt
Owners: none

fix: eslitn &b pretier
  .husky/pre-commit
  .prettierignore
  .prettierrc
  apps/farmart-web/package.json
  apps/farmart-web/src/App.jsx
  apps/farmart-web/src/main.jsx
  apps/farmart-web/tsconfig.json
  apps/farmart-web/vite.config.js
  apps/saudabook-app/package.json
  apps/saudabook-app/src/App.jsx
  apps/saudabook-app/src/main.jsx
  apps/saudabook-app/vite.config.js
  eslint.config.mjs
  firebase.json
  package.json
  packages/logger.js
  packages/shared-ui/index.ts
  packages/shared-ui/src/Box.tsx
  packages/shared-ui/src/Button.tsx
  packages/shared-ui/src/index.ts
  packages/trade-app/index.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/404.html
  public/index.html
  tsconfig.base.json
Owners: @farmart/farmart-web-team, @farmart/saudabook-team, @farmart/platform-frontend-team

fix: sentry
  apps/saudabook-app/.gitignore
  apps/saudabook-app/package.json
  apps/saudabook-app/vite.config.js
  package.json
  pnpm-lock.yaml
Owners: @farmart/saudabook-team

fix: refactor: Update .gitignore and pnpm-workspace.yaml files
  .gitignore
  apps/farmart-web/.gitignore
  lint.txt
  packages/logger.js
  packages/trade-app/index.tsx
  pnpm-workspace.yaml
  public/404.html
  public/index.html
  tsconfig.base.json
Owners: @farmart/farmart-web-team, @farmart/platform-frontend-team, @farmart/saudabook-team

.github/CODEOWNERS:

# Common package
/packages/                @farmart/platform-frontend-team
/apps/farmart-web/        @farmart/farmart-web-team
/apps/saudabook-app/      @farmart/saudabook-team

/packages/trade-app/      @farmart/farmart-web-team @farmart/saudabook-team
